<!DOCTYPE html>
<html lang="fr" >

<head>
  <meta charset="UTF-8">
  <title>Programmes des meilleurs cinémas</title>
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styleTable.css">
    <link rel="stylesheet" href="../css/styleTab.css">
</head>

<body>

<ul class="tabs" role="tablist">
    $TableContent


<li>
    <input type="radio" name="tabs" id="tab99"  />
    <label for="tab99"
           role="tab"
           aria-selected="False"
           aria-controls="panel99"
           tabindex="0">Autres programmations</label>
    <div id="tab-content99"
         class="tab-content"
         role="tabpanel"
         aria-labelledby="Autres programmations"
         aria-hidden="True">

        <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <table class="table-fill">
                <thead>
                  <tr>
                    <th class="text-left">VILLE</th>
                    <th class="text-left">CINÉMAS</th>
                  </tr>
                </thead>
                <tbody class="table-hover">$TabOtherCities</tbody>
              </table>
            </div>
        </div>
    </div>
</li>
</ul>

</body>
</html>
