<tr>
    <td class="text-left">$label<br><br>
        <img src="$poster_url" alt="" width="120"><br>
        <a href="$allocine_url" class="ico-link"><img src="../pic/allocine.ico" alt="" width="20"></a>
        <a href="$sc_url" class="ico-link"><img src="../pic/sc.ico" alt="" width="20"></a>
        <a href="$rotten_tomatos_url" class="ico-link"><img src="../pic/rottent.ico" alt="" width="20"></a>
        <a href="$yt_url" class="ico-link"><img src="../pic/yt.ico" alt="" width="20"></a>
    </td>
    <td class="text-center">$synopsis</td>
    <td class="text-left" style="font-size: 10pt">$tags</td>
    <td class="text-center">$cinema<br>
    <a href="$url" class="ico-link">(détails)</a></td>
    <td class="text-left" style="font-size: 10pt">$seances</td>
</tr>
