.venv
venv/
.coverage
.coverage.*
_build
.DS_Store
.vscode
.idea
docs/_static/pypi.svg
.tox
__pycache__

# Packaging artifacts
cinema.egg-info
cinema.dist-info
build/
dist/
pip-wheel-metadata/
.eggs

.dmypy.json
*.swp
.hypothesis/
.ipynb_checkpoints/

cinema/html_out/
cinema/geckodriver
