<tr>
    <td class="text-left">$film<br><br>
<img src="$posterUrl" alt="" width="120"><br>
<a href="$allocineUrl" class="ico-link"><img src="../pic/allocine.ico" alt="" width="20"></a>
<a href="$scUrl" class="ico-link"><img src="../pic/sc.ico" alt="" width="20"></a>
<a href="$ytUrl" class="ico-link"><img src="../pic/yt.ico" alt="" width="20"></a>
</td>

<td class="text-center">$synopsis</td>
<td class="text-left" style="font-size: 10pt">$tags</td>
<td class="text-center">$cinema<br>
<a href="$allocineTheaterUrl" class="ico-link"><img src="../pic/allocine.ico" alt="" width="24"></a></td>
<td class="text-left" style="font-size: 10pt">$seance</td>
</tr>
