<li>
    <input type="radio" name="tabs" id="tab$DayNumber" $Checked />
    <label for="tab$DayNumber" 
           role="tab" 
           aria-selected="$Selected" 
           aria-controls="panel$DayNumber" 
           tabindex="0">$Day</label>
    <div id="tab-content$DayNumber" 
         class="tab-content" 
         role="tabpanel" 
         aria-labelledby="Séances du $Day" 
         aria-hidden="$Hidden">
        <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100">
              <table class="table-fill">
                <thead>
                  <tr>
                    <th class="text-left">FILM</th>
                    <th class="text-left">SYNOPSIS</th>
                    <th class="text-left">TAGS</th>
                    <th class="text-left">CINEMA</th>
                    <th class="text-left">SEANCES</th>
                  </tr>
                </thead>
                <tbody class="table-hover">
                  $Value
                </tbody>
              </table>
            </div>
        </div>
    </div>
</li>
